body {
	background-color:black;
	font-family: sans-serif;
	font-style: normal;
	color: black;
	margin-left: auto;
  	margin-right: auto;
}

h1 {
	color:gray;
}

#outertable {
	background-color: white;
	border-radius: 25px;
	padding: 20px;
	margin-left: auto;
  	margin-right: auto;
}

#innertable {
	background-color: white;
	/* border: 1px solid black; */
	padding: 5px;
	margin-left: auto;
  	margin-right: auto;
}

.highlight {
	background-color: yellow;	
}

td {
	padding: 5px;
}

.slider {
        -webkit-appearance: none;
        border-radius: 5px;
        /* background-color: red; */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: blue;
  cursor: pointer;
}
/*
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: yellow;
  cursor: pointer;
}
*/
