body {
	background-color:black;
	font-family: sans-serif;
	font-style: normal;
	color: black;
	margin-left: auto;
  	margin-right: auto;
}

h1 {
	color:gray;
}

#outertable {
	background-color: white;
	border-radius: 25px;
	padding: 20px;
	margin-left: auto;
  	margin-right: auto;
}

#innertable {
	background-color: white;
	/* border: 1px solid black; */
	padding: 5px;
	margin-left: auto;
  	margin-right: auto;
}

#inputElements {
	width: 100%;
	height: 100%;
	border-radius: 25px; /* rounded corners on div input elements */
}

.highlight {
	background-color: yellow;	
}

td {
	padding: 5px;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  border-radius: 25px;
  width: 50%;
  height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  border-radius: 50%;
  appearance: none;
  width: 12px; /* Set a specific slider handle width */
  height: 12px; /* Slider handle height */
  background: blue;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  border-radius: 50%;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #04AA6D;
  cursor: pointer; /* Cursor on hover */
}
